@import url("http://fonts.cdnfonts.com/css/pauschal");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "pauschal", sans-serif;
  color: white;
}

.navbar {
  width: 100%;
  height: 50px;
  background-image: linear-gradient(
      rgba(155, 118, 49, 0.52),
      rgba(194, 179, 50, 0.52)
    ),
    url("https://media.cntraveler.com/photos/56799015c2ebbef23e7d927b/master/pass/Hotelroom-Alamy.jpg");
  /*👉 background-image: linear-gradient(
    rgba(rgb(120, 99, 90)),
    url("https://media.cntraveler.com/photos/56799015c2ebbef23e7d927b/master/pass/Hotelroom-Alamy.jpg")
  );👈*/
  display: flex;
  justify-content: start;
  align-items: center;
}
.left-flex {
  display: flex;
  gap: 3rem;
}
.lang {
  display: flex;
  list-style: none;
}
.lang li {
  margin-right: 1rem;
}

.card {
  display: flex;
  align-items: center;
}
.card i {
  margin-right: 0.5rem;
}

.checkbox {
  display: flex;
  align-items: center;
}
.checkbox i {
  margin-right: 0.5rem;
}

/*👉.fade {
    width: 100%;
    height: 100px;
    background-color: rgba(210, 105, 30, 0.336);
    opacity: .9;
    position: relative;
}

.header_left {
    background-color: transparent;
    width: 50%;
    height: 50px;
    position: absolute;
    top: 25%;
    margin-left: 2%;
    z-index: -1;
}

.header_dummy {
    background-color: transparent;
    width: 50%;
    height: 50px;
    position: relative;
    top: 25%;
    margin-left: 2%;
    z-index: -1;

}

.card {
    position: absolute;
    top: 40%;
}

.pment {
    top: 40%;
    position: absolute;
    left: 5%;
    font-weight: bold;
}

.checkbox {
    top: 40%;
    position: absolute;
    left: 25%;
}

.terms {
    top: 40%;
    position: absolute;
    left: 30%;
}

.lang {
    list-style: none;
    top: 40%;
    position: absolute;
    left: 50%;
    display: inline-flex;
    
}

.lang li {
    padding-left: 20px;

}

.header_right {
    background-color: transparent;
    width: 40%;
    height: 50px;
    position: absolute;
    top: 25%;
    margin-left: 50%;
    z-index: -1;
                    
}

.header_right_dummy {

    background-color: transparent;
    width: 40%;
    height: 50px;
    position: relative;
    top: -25%;
    margin-left: 50%;
    
}

.book {
    top: 40%;
    position: absolute;
}

.inbox {
    top: 40%;
    position: absolute;
    left: 20%;
}

.review {
    top: 40%;
    position: absolute;
    left: 30%;
}

.proficon {
    top: 40%;
    position: absolute;
    left: 59%;
}

.login {
    list-style: none;
    top: 23%;
    position: absolute;
    left: 69%;
}
👈*/
